## **1) Descripción del Problema**

Las amenazas financieras están mostrando una tendencia sobre el riesgo crediticio de los bancos comerciales a medida que ha surgido la increíble mejora en la industria financiera. De esta forma, una de las mayores amenazas a las que se enfrentan los bancos comerciales es la predicción del riesgo de los clientes de crédito.

Los estudios recientes se centran principalmente en mejorar el rendimiento del clasificador para la predicción de incumplimiento de tarjetas de crédito en lugar de un modelo interpretable

En los problemas de clasificación, un conjunto de datos desequilibrado también es crucial para mejorar el rendimiento del modelo porque la mayoría de los casos se encuentran en una clase y solo unos pocos ejemplos están en otras categorías

Objetivo General : Encontrar un modelo de clasificación y predicción para predecir el Default de Crédito para Bank of America

# **2) Descripción de los Datos**

## **Cargar Librerias**

In [11]:
import numpy as np # calculo Matricial
import pandas as pd # Excel Python: 
from datetime import time # Fechas
import matplotlib.pyplot as plt ## Gráficas
import seaborn as sns ## Gráficas Estadisticas
import os # sistema
pd.set_option("max_columns",50)

In [12]:
os.getcwd()

'/content'

## **Importar Datos**

In [55]:
RutaDrive="/content/drive/MyDrive/Documentos/DIPLOMADO CEDESISTEMAS CIENCIA DE DATOS/INTRODUCCION A PAYTHON/INSUMOS/UCI_Credit_Card.csv"
#RutaGithub
#RutaGithub="https://raw.githubusercontent.com/Oscar19922017/Diplomado2022_02/main/UCI_Credit_Card.csv"

In [56]:
df=pd.read_csv(RutaDrive)

In [15]:
## Los primeros datos
df.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,0,0,0,0,0,0,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,0,0,0,0,0,0,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,0,-1,11876.0,380.0,601.0,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,0,0,2,0,0,0,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,-1,-1,0.0,0.0,0.0,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0

## **Diccionario Variables**

* ID : ID de cada cliente
* Monto_Credito : cantidad del crédito otorgado en dólares NT (incluye crédito individual y familiar / suplementario
* SEXO : Género (1 = masculino, 2 = femenino)
* EDUCACIÓN : (1 = posgrado, 2 = universidad, 3 = bachillerato, 4 = otros, 5 = desconocido, 6 = desconocido)
* MATRIMONIO : Estado civil (1 = casado, 2 = soltero, 3 = otros)
* EDAD : Edad en años
* PAY_0 : Estado de reembolso en septiembre de 2005 (-1 = pago debidamente, 1 = retraso en el pago durante un mes, 2 = retraso en el pago durante dos meses,… 8 = retraso en el pago durante ocho meses, 9 = retraso en el pago durante nueve meses o más)
* PAY_2 : Estado de reembolso en agosto de 2005 (escala igual a la anterior)
* PAY_3 : Estado de reembolso en julio de 2005 (escala igual a la anterior)
* PAY_4 : Estado de reembolso en junio de 2005 (escala igual a la anterior)
* PAY_5 : Estado de reembolso en mayo de 2005 (escala igual a la anterior)
* PAY_6 : Estado de reembolso en abril de 2005 (escala igual a la anterior)
* BILL_AMT1 : Monto del extracto de la factura en septiembre de 2005 (dólar NT)
* BILL_AMT2 : Monto del extracto de la factura en agosto de 2005 (dólar NT)
* BILL_AMT3 : Monto del extracto de la factura en julio de 2005 (dólar NT)
* BILL_AMT4 : Monto del extracto de la factura en junio de 2005 (dólar NT)
* BILL_AMT5 : Monto del extracto de la factura en mayo de 2005 (dólar NT)
* BILL_AMT6 : Monto del extracto de la factura en abril de 2005 (dólar NT)
* PAY_AMT1 : Monto del pago anterior en septiembre de 2005 (dólar NT)
* PAY_AMT2 : Monto del pago anterior en agosto de 2005 (dólar NT)
* PAY_AMT3 : Monto del pago anterior en julio de 2005 (dólar NT)
* PAY_AMT4 : Monto del pago anterior en junio de 2005 (dólar NT)
* PAY_AMT5 : Monto del pago anterior en mayo de 2005 (dólar NT)
* PAY_AMT6 : Monto del pago anterior en abril de 2005 (dólar NT)
* default.payment.next.month : pago predeterminado (1 = sí, 0 = no)

In [4]:
## Dimensión

In [16]:
df.shape

(30000, 25)

In [18]:
print(f'La Base de Datos Tiene: {df.shape[0]} filas y tiene : {df.shape[1]} Columnas')

La Base de Datos Tiene: 30000 filas y tiene : 25 Columnas

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
## Los ultimos datos
df.tail(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
29990,29991,140000.0,1,2,1,41,0,0,0,0,0,0,138325.0,137142.0,139110.0,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0
29991,29992,210000.0,1,2,1,34,3,2,2,2,2,2,2500.0,2500.0,2500.0,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29992,29993,10000.0,1,3,1,43,0,0,0,-2,-2,-2,8802.0,10400.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0
29993,29994,100000.0,1,1,2,38,0,-1,-1,0,0,0,3042.0,1427.0,102996.0,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0
29994,29995,80000.0,1,2,2,34,2,2,2,2,2,2,72557.0,77708.0,79384.0,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1
29995,29996,220000.0,1,3,1,39,0,0,0,0,0,0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,0,0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,0,-1,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,0,0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [15]:
## Variables de Datframe

In [20]:
df.columns.to_list()

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default.payment.next.month']

# **3) Depuración BD**

## **Renombrar Variables**

In [21]:
df.rename(columns={"LIMIT_BAL":"ValorCredito",
                   "SEX":"Genero",
                   "EDUCATION":"Edudacion",
                   'MARRIAGE':"EstadoCivil",
                   "AGE":"Edad",
                   'default.payment.next.month':"Mora"},inplace=True)

In [38]:
df.head(80)

,ID,ValorCredito,Genero,Edudacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,20000.0,1,2,2,24,0,0,2,0,0,0,14619.0,17216.0,16642.0,16976.0,17332.0,18543.0,2850.0,0.0,610.0,630.0,1500.0,0.0,0
76,77,50000.0,1,3,2,25,-1,0,0,0,0,0,42838.0,37225.0,36087.0,9636.0,9590.0,10030.0,1759.0,1779.0,320.0,500.0,1000.0,1000.0,0
77,78,300000.0,2,1,1,45,-1,-1,-1,-1,-1,-1,291.0,291.0,291.0,291.0,291.0,291.0,291.0,291.0,291.0,291.0,291.0,291.0,0
78,79,30000.0,2,2,2,22,0,0,0,0,0,0,28387.0,29612.0,30326.0,28004.0,26446.0,6411.0,1686.0,1400.0,560.0,3000.0,1765.0,0.0,1
79,80,240000.0,2,2,2,44,1,-2,-2,-2,-2,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

## **Creación Nuevas Variables**

### **Extructura de Control**

* If Else

In [27]:
EstadoCivil=df.EstadoCivil[1] ## Un Solo Cliente
print(EstadoCivil)

2

In [29]:
if (EstadoCivil == 1):
    NomEstadoCivil="Casado"
elif (EstadoCivil == 2):
    NomEstadoCivil="Soltero"
elif (EstadoCivil == 3):
    NomEstadoCivil="Otros"
else:
  NomEstadoCivil="No Clasificado"

In [31]:
NomEstadoCivil

'Soltero'

In [ ]:
## Mas Condiciones

In [ ]:
if (Edad >= 18 and Edad <=30):
  GrupoPoblacional="Joven"
elif (Edad > 30 and Edad <=60):
  GrupoPoblacional="Adulto"
elif (Edad > 60 and Edad <=110):
  GrupoPoblacional="AdultoMayor"
elif (Edad > 110):
  GrupoPoblacional="ValidarAdultoMayor"
else:
  GrupoPoblacional="ValidarMenorEdad"

In [30]:
NomEstadoCivil

'Soltero'

## **Funciones**

Una función te permite definir un bloque de código reutilizable que se puede ejecutar muchas veces dentro de tu programa.

En Python, una definición de función tiene las siguientes características:

* La palabra clave def
* Un nombre de función
* Paréntesis ’()’, y dentro de los paréntesis los parámetros de entrada, aunque los parámetros de entrada sean opcionales.
* Dos puntos ’:’
* Algún bloque de código para ejecutar
* Una sentencia de retorno (opcional)

In [ ]:
def SumaDosNumeros(x,y=1):
  suma=x+y
  return suma

In [ ]:
SumaDosNumeros(5,89)

94

In [ ]:
SumaDosNumeros(5,56)

61

In [32]:
def CalculoEstadoCivil(EstadoCivil):
  if (EstadoCivil == 1):
    NomEstadoCivil="Casado"
  elif (EstadoCivil == 2):
    NomEstadoCivil="Soltero"
  elif (EstadoCivil == 3):
    NomEstadoCivil="Otros"
  else:
    NomEstadoCivil="No Clasificado"
  return NomEstadoCivil

In [45]:
CalculoEstadoCivil(1)

'Casado'

In [44]:
CalculoEstadoCivil(2)

'Soltero'

In [46]:
CalculoEstadoCivil(3)

'Otros'

In [47]:
CalculoEstadoCivil(4)

'No Clasificado'

In [48]:
df.EstadoCivil.apply(CalculoEstadoCivil) ## Aplicado NuestarFuncion a toda la Base de Datos

0         Casado
1        Soltero
2        Soltero
3         Casado
4         Casado
          ...
29995     Casado
29996    Soltero
29997    Soltero
29998     Casado
29999     Casado
Name: EstadoCivil, Length: 30000, dtype: object

In [ ]:
## Crear la Variable Rango Poblacional en DataFrame

In [53]:
df["NomEstadoCivil"]=df.EstadoCivil.apply(CalculoEstadoCivil)

In [50]:
df.head()

,ID,ValorCredito,Genero,Edudacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora,NomEstadoCivil
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,Casado
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,Soltero
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,Soltero
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,Casado
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,Casado

In [51]:
df.NomEstadoCivil.value_counts()

Soltero           15964
Casado            13659
Otros               323
No Clasificado       54
Name: NomEstadoCivil, dtype: int64

In [52]:
df.NomEstadoCivil.value_counts()/len(df)*100

Soltero           53.213333
Casado            45.530000
Otros              1.076667
No Clasificado     0.180000
Name: NomEstadoCivil, dtype: float64